/* 控制內文置中 */
.text-box{
    text-align: center;
}

/* 口號：我們相信 唯有用心 才能看見與眾不同 */
.mobile-slogan{
    color: #7E5E4C;
    font-size: 5vmin;
    line-height: 7vmin;
    font-style: italic;
    font-weight: 600;

    margin-top: 40vmin;
    margin-bottom: 40vmin;
    
    display: inline-block;
    text-align: left;
}

/*  內文 敘述介紹  */
.product-intro{
    border-top-color: rgb(20, 20, 20);
    border-bottom-color: rgb(20, 20, 20);
    border-right: none !important;
    border-left: none !important;
    border-style: solid;
    border-width: 0.2vmin;

    margin-top: 6vmin;
    margin-bottom: 6vmin;

    padding-top: 4vmin;
    padding-bottom: 4vmin;
    padding-right:8vmin;
    padding-left: 8vmin;

    color: #7E5E4C;
    font-size: 3.6vmin;
    letter-spacing: 0.5vmin;
    line-height: 6.6vmin;
    font-style: italic;
    
    display: inline-block;
    text-align: left;
}

/*    內文 標題    */
.product-intro-title{
    font-size: 5.5vmin;
    font-weight: 600;
    margin-bottom: 3vmin;
}

/*  quapni logo */
.logo-style{
    width: 36vmin;
    height: auto;
    margin-top: 40vmin;
    margin-bottom: 40vmin;
    display: inline-block;
}