/* ＝＝＝＝＝＝Navigation＝＝＝＝＝＝ */
/*   導 覽 列  浮動在HeroImage上層  設定 */

.home-nav{
    position: absolute;
    float: left;
    z-index: 2;
    width:100%;
}



/* ＝＝＝＝＝ Slideshow ＝＝＝＝＝ */
/* 幻 燈 片   大 小 邊 界   設定 */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .home-sildeshow{
        margin-top: 8vmin;
        margin-bottom: 10vmin;
        margin-right: 7vmin;
        margin-left: 7vmin;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1600px){
    .home-sildeshow{
        margin: 16vmin;
    }
}
@media only screen and (min-width: 1601px){
    .home-sildeshow{
        margin-top: 22vmin;
        margin-bottom: 16vmin;
        margin-right: 22vmin;
        margin-left: 22vmin;
    }
}



/* ＝＝＝＝＝ Pallax ＝＝＝＝＝ */
/* 滾動視差 與 上層組件 重疊設定  設定 */

.home-parallax{
   margin-top: -200px;
}


/* ＝＝＝＝＝ Category ＝＝＝＝＝ */
/* 卡片式設計  大 小 邊 界   設定 */

.home-Category{
    margin: 20vmin;
}
     /*      手 機 版  邊界      */
@media only screen and (max-width: 767px){
 .home-Category{
    margin-top: 0.6vmin;
    margin-left: 0vmin;
    margin-right: 0vmin;
    margin-bottom: 0.1vmin;
  }
}

     /*   ipad、ipad pro版  邊界     */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .home-Category{
    margin-top: 15vmin;
    margin-left: 5vmin;
    margin-right: 5vmin;
    margin-bottom: 15vmin;
  }
}


