
/* 幻燈片 左右箭頭 設定 */
.slick-prev{
    left: 3% !important;
    z-index: 1;
    display: block !important;
    top: 50% !important;
  }

.slick-next {
    right: 4.8% !important;
    z-index: 1;
    display: block !important;
    top: 50% !important;
  }

.slick-next:before, .slick-prev:before {
    font-size: 5vmin;
    color:rgb(rgb(194, 194, 194)) ;
    filter: drop-shadow(1px 1px 2px rgba(66, 66, 66, 0.7));
  }

/* 幻燈片 底下圓點 */
.slick-dots{
    top: 87%;
    filter: drop-shadow(1px 1px 2px rgba(66, 66, 66, 0.7));
  }

.slick-dots li.slick-active button:before{
    color: rgb(255, 255, 255); 
  }

/* 圖片遮罩 設定 */
.slick-img-mask{
    height: 30vmax;
    width: 130vmax;
    overflow: hidden;
}  
.slick-img-mask img{
    position: relative;
    top: -8vmin;
}

/* 幻燈片 陰影 */
.slick-wrapper {
    box-shadow: 0px 0px 20px #B5B5B5;
}

/* 幻燈片 標題 */
.slick-title{
    font-size: 10vmin;
    font-style:italic;
    letter-spacing: 0.5vmin;
    font-weight:500;
    color: black;
    position: absolute;
    top:3vmin;
    margin-left:2vmin;
    margin-top:1vmin;
    z-index: 1;
}

/*  圖片高度設定  */
.slick-list{
    height:30vmax;
}

/* 口號：我們相信 唯有用心堅持 才能看見與眾不同 */
.slogan{
    font-size: 5vmin;
    font-style:italic;
    line-height: 8vmin;
    letter-spacing: 0.5vmin;
    font-weight:500;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/*  內文 設定 */
.paragraph-style{
    border-top-color: rgb(20, 20, 20);
    border-bottom-color: #ff7576;
    border-right: none !important;
    border-left: none !important;
    border-style: solid;

    padding-top: 4vmin;
    padding-bottom: 4vmin;

    font-size: 3vmin;
    font-style:italic;
    line-height: 2.8vmin;
    letter-spacing: 0.5vmin;
    text-align: center;
     
    position: absolute;
    top: 35%;
    left:12%;
    float: left;
    z-index: 1;
}

/*  內文 有半透明底色 設定 */
.paragraph-notestyle{
    border-top-color: rgb(20, 20, 20);
    border-bottom-color: #ff7576;
    border-right: none !important;
    border-left: none !important;
    border-style: solid;

    padding-top: 4vmin;
    padding-bottom: 4vmin;
    padding-right: 10vmin;
    padding-left: 10vmin;
    
    font-size: 3vmin;
    font-style:italic;
    line-height: 2.8vmin;
    letter-spacing: 0.5vmin;
    text-align: center;
     
    position: absolute;
    top: 35%;
    left:12%;
    float: left;
    background: rgb(255, 255, 255, 0.8);

    z-index: 1;
}



/* ipad、ipad pro */
@media screen and (max-width: 1024px){
 .slick-img-mask img{
    height:120%;
    width: auto;
    position: relative;
    top: -5vmin;
 }

 /* 口號：我們相信 唯有用心堅持 才能看見與眾不同 */
 .slogan{
    font-size: 3.6vmin;
    font-style:italic;
    line-height: 6vmin;
    letter-spacing: 0.5vmin;
    font-weight:500;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
 }
 
}
