
   .brand-logo{
    width: 450px;
    margin-right: 100px;
    margin-top: 140px;
   }
   
   .brand-slogan{
    font-size: 36px;
    margin-bottom: 50px;
    letter-spacing: 6px;
    color: #3E3E3E;
   }
   
   
   .brand-paragraph{
    font-size: 1.4em;
    text-shadow: rgba(255, 255, 255) 0.1em 0.1em 0.2em;
    line-height: 2.5em;
    letter-spacing: 3px; 
   }
   
   .brand-box{
    height: 80vmin;
    margin-top: -300px;
   }
   
   .brand-box img{
    width: 70vw;
    height: auto;
    margin-left: 30vw;
    position: absolute;
    z-index: -1;
   }
   
   
   
   
   
   /* ================ */
    /* 行 動 裝 置  CSS */
   
   @media screen and (max-width: 900px){
     .brand-logo{
     width: 60vw;
     margin-left: 1rem; 
     margin-top: 140px;
     }
   
     .brand-slogan{
     font-size: 5vw;
     margin-left: 1rem;
     margin-bottom: 50px;
     letter-spacing: 4px;
     color: #3E3E3E;
     }
   
   
     .brand-paragraph{
     margin-left: 1rem;
     font-size: 3vw;
     text-shadow: rgba(255, 255, 255) 0.1em 0.1em 0.2em;
     line-height: 8vw;
     letter-spacing: 2px; 
     }
   
     .brand-box{
     height: 120vw;
     }
   
     .brand-box img{
     width: 120%;
     height: auto;
     position: absolute;
     margin-top:35vh ;
     margin-left: 10vw; 
     z-index: -1;
     }  
   }
   