 /*  ==================================  */
 /*  商 品 分 類    大 目 錄   背 景 特 效  */

 .blur {
    background: url('https://i.imgur.com/jt3R3TH.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;

    filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    -moz-filter: blur(20px);
    -webkit-filter: blur(20px);

    position: absolute;
    height: 700px;
    width: auto;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}

.widget {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.center {
    position: absolute;
    margin: auto;
}


.menu-text {
    margin: 0 auto !important;
    text-align: left !important;
}

.megamenu {
    /* 如果不要背景模糊，可以自行設定底色 */
    /* background-color: #ffffff; */
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 40px;
    padding-bottom: 350px;
    display: none;
    margin-top: 0px;
}

.mega-dropdown:hover>.megamenu {
    display: block;

}

.header-navigation {
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.header-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    min-height: 60px;
    max-width: auto;
    margin: auto;
}

.header-white-logo {
    padding-left: 40px;
    padding-right: 55px;
}

.header-color {
    color: aliceblue !important;
}

.dividing-line {
    border: 0;
    color: white;
    background-color: rgba(255, 255, 255, 0.7);
    height: 6px
}

.ui.link.list .item,
.ui.link.list .item a:not(.ui),
.ui.link.list a.item {
    color: rgba(255, 255, 255, 0.5)!important;
    -webkit-transition: .1s color ease;
    transition: .1s color ease
}

.ui.link.list.list .item a:not(.ui):hover,
.ui.link.list.list a.item:hover {
    color: rgba(255, 255, 255, 0.8)!important;
}




 /*  =======================  */
/*   Navigation  樣 式 設 計   */

.browse-item:hover
{
  color:rgb(26, 23, 13)
}

.browse-item{
  text-shadow: rgba(17, 16, 16, 0.3) 0.1em 0.1em 0.1em
}

.mouse-pointer {cursor: pointer;}

.menu-style{
    /* background-color: rgb(41, 41, 41); */
    background-color: transparent ;
}

.nav {
    border: none;
    border-width: none;
    list-style: none;
    margin: 15;
    padding: 0;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0px;
    margin-right: 30px;
    margin-left: 30px;
    color: floralwhite;
    font-size: 1.4rem;
    font-weight: 500;
}

.right a {
    display: inline-block;
    padding: 0px;
    margin-right: 15px;
    margin-left: 15px;
    color: floralwhite;
    font-size: 1.4rem;
    font-weight: 400;
}